body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#tabel-transaksi input,
#tabel-transaksi select {
    width: 100%;
    padding: 8px 20px;
    font-size: 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

#tabel-transaksi button[type="submit"] {
    padding: 10px;
    background-color: #007bff !important;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#filter-container {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 20px;
    padding: 20px;
}

#filter-container label {
    flex: 0 0 100px;
    padding: 10px;
    font-weight: bold;
}

#filter-container input {
    flex: 1 1 auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#tabel-transaksi {
    margin: 20px auto;
    border-collapse: collapse;
}

#tabel-transaksi th,
#tabel-transaksi td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

#tabel-transaksi th {
    background-color: #f8f8f8;
    font-weight: bold;
}

#tabel-transaksi tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

#tabel-transaksi tfoot td {
    font-weight: bold;
    background-color: #f8f8f8;
}

#tabel-transaksi tfoot td:nth-child(2) {
    text-align: right;
}

#saldo {
    font-weight: bold;
    font-size: 20px;
    color: #007bff;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}

.total {
    text-align: justify;
    padding-left: 19px;
}

.saldo {
    text-align: left;
}

#moneyAmount {
    display: none; /* Initially hidden */
}
.button-34 {
    background: #5e5df0;
    border-radius: 999px;
    box-shadow: #5e5df0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
        NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
        EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}
